*{
  font-family: "Iosevka Charon", monospace;
  font-weight: 300;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

nav {
  width:100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 6vh;
}

nav > ul > li {
  flex: 1 1 auto;
  text-align: center;
  width: 20vw;
}

a {
  font-size: x-large;
}

a:focus {
  color: #f51919;
}

a:hover {
  color: #f51919;
}

#home {
  text-align: center;
  justify-content: center;
  justify-self: center;
  text-align: left;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 5vh;
}

.galeria .img {
  align-self: center;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

.img img {
  width: 100%;
  align-self: center;
  justify-self: center;
  object-fit: cover;
  object-position: bottom;
  border: none;
  padding-bottom: 0;
  
}

.img p {
  align-self: center;
  justify-self: center;
  font-size: x-large;
}

.img audio{
  align-self: center;
  justify-self: center;
  width: 100%;
}

#image {
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin-top: 5vh;
}

#audio {
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin-top: 5vh;
}

#video {
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin-top: 5vh;
}

time {
  font-size: 8vw;
  border-radius: 55px;
  padding: 0.5vw;
}

input {
  font-size: 4vw;
  border-radius: 55px;
  padding: 0.5vw;
}

.controls > * {
  width: 6vw;
  font-size: xx-large;
  text-align: center;
}

main {
  height: 90vh;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
}

main > section:not(:target) {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eeeeee;
    background: #121212e8;
  }

  time {
    color: #809fff;
  }

  input {
    background-color: #c8d3f1;
  }

  a {
    color: #809fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212e8;
    background: #eeeeee;
  }

  time {
    color: #0c1b49;
  }

  input {
    background-color: #a7b4d6;
  }

  a {
    color: #0c1b49;
  }
}
@media (min-width: 600px){
  #image:target {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
  }

  #audio:target {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
  }

  .img img {
    padding-bottom: 0;
  }
  main > section:not(:target) {
  display: none;
  }

}

@media (min-width: 1024px){
  #image:target {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;

  }

  #audio:target {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;

  }

  #image .img {
    width: 46.25vw;
    margin: 1vw;
  }

  #audio .img {
    width: 46.25vw;
    margin: 1vw;
  }

  .img img {
    padding-bottom: 0;
  }

  main > section:not(:target) {
  display: none;
  }
}

@media (min-width: 1720px) {
  #image:target {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
  }

  #audio:target {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
  }

  #image .img {
    width: 30.3vw;
    margin: 1vw;
  }

  #audio .img {
    width: 30.3vw;
    margin: 1vw;
  }

  .img img {
    padding-bottom: 0;
  }

  main > section:not(:target) {
  display: none;
  }
}